IoT Final Project/final.Json
[{"id":"ee9c8064.6f281","type":"tab","label":"Flow 4","disabled":false,"info":""},{"id":"955b14f7.0bf138","type":"mqtt out","z":"ee9c8064.6f281","name":"","topic":"bla","qos":"","retain":"","broker":"eb3215f9.4cdfc8","x":430,"y":120,"wires":[]},{"id":"7f4f3934.ddf358","type":"mqtt in","z":"ee9c8064.6f281","name":"","topic":"bla","qos":"0","broker":"eb3215f9.4cdfc8","x":130,"y":400,"wires":[["d46016d8.d69298"]]},{"id":"1c6172d3.4e5bcd","type":"inject","z":"ee9c8064.6f281","name":"three","topic":"sensors/sensor1","payload":"3 hani","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":80,"wires":[["955b14f7.0bf138"]]},{"id":"a0260aca.14e098","type":"mosca in","z":"ee9c8064.6f281","mqtt_port":1883,"mqtt_ws_port":8080,"name":"","username":"","password":"","dburl":"","x":370,"y":20,"wires":[["955b14f7.0bf138"]]},{"id":"ac537fa3.e4642","type":"inject","z":"ee9c8064.6f281","name":"four","topic":"sensors/sensor2","payload":"4 hani","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":70,"y":20,"wires":[["955b14f7.0bf138"]]},{"id":"d46016d8.d69298","type":"function","z":"ee9c8064.6f281","name":"second","func":"var payload=msg.payload;\nif (msg.payload.charAt(0)==\"2\"){\n    msg.payload=\"<div><img src='/fourth.png'></div>\"\n    return msg;\n}\nelse if (msg.payload.charAt(0)==\"8\"){\n    msg.payload=\"<div><img src='/sixth.png'></div>\"\n    return msg;\n}\nelse if (msg.payload.charAt(0)==\"4\"){\n    msg.payload=\"<div><img src='/third.png'></div>\"\n    return msg;\n}\nelse if (msg.payload.charAt(0)==\"3\"){\n    msg.payload=\"<div><img src='/eleven.png'></div>\"\n    return msg;\n}\nelse if (msg.payload.charAt(0)==\"5\" || msg.payload.charAt(0)==\"1\"){\n    msg.payload=\"<div><img src='/fourteen.png'></div>\"\n    return msg;\n}\nelse if (msg.payload.charAt(0)==\"6\"){\n    msg.payload=\"<div><img src='/nine.png'></div>\"\n    return msg;\n}\n\n","outputs":1,"noerr":0,"x":360,"y":400,"wires":[["1c897176.560ecf","48165f94.cf7ba"]]},{"id":"1c897176.560ecf","type":"debug","z":"ee9c8064.6f281","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":610,"y":460,"wires":[]},{"id":"48165f94.cf7ba","type":"ui_template","z":"ee9c8064.6f281","group":"3e811aa8.0b3986","name":"","order":0,"width":"6","height":"6","format":"<div ng-bind-html=\"msg.payload\"></div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":620,"y":320,"wires":[[]]},{"id":"80e66639.b08ef8","type":"inject","z":"ee9c8064.6f281","name":"two","topic":"sensors/sensor4","payload":"2 hani","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":160,"wires":[["955b14f7.0bf138"]]},{"id":"5c1bf5cc.d4f92c","type":"inject","z":"ee9c8064.6f281","name":"eight","topic":"sensors/sensorstring","payload":"8 hello","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":260,"wires":[["955b14f7.0bf138"]]},{"id":"83558a24.e85788","type":"serial in","z":"ee9c8064.6f281","name":"","serial":"99150fcc.be1ac","x":320,"y":280,"wires":[["955b14f7.0bf138","75748373.dc858c"]]},{"id":"75748373.dc858c","type":"debug","z":"ee9c8064.6f281","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":550,"y":220,"wires":[]},{"id":"eb3215f9.4cdfc8","type":"mqtt-broker","z":"","name":"","broker":"127.0.0.1","port":"1883","clientid":"test-client","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"3e811aa8.0b3986","type":"ui_group","z":"","name":"Parking Lot","tab":"b650d4ac.27f7d8","disp":true,"width":"6","collapse":false},{"id":"99150fcc.be1ac","type":"serial-port","z":"","serialport":"/dev/ttyACM1","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","newline":"\\n","bin":"false","out":"char","addchar":false,"responsetimeout":"10000"},{"id":"b650d4ac.27f7d8","type":"ui_tab","z":"","name":"IoT","icon":"dashboard","disabled":false,"hidden":false}]
